@inject SpeechSynthesis SpeechSynthesis
<div class="word-answer-card">
    <section class="word-card">
        <div class="word">@Word.Word</div>
        <div class="part-of-speech">@Word.PartOfSpeech</div>
    </section>
    <hr />
    <section class="word-mean">
        <div class="word-jp">@Word.Meaning</div>
        <div>
            <div class="examples">
                <div>
                    <div class="caption">例文</div>
                    <div class="sentence">@Word.ExampleSentence</div>
                </div>
                <button @onclick=@PlayENButtonOnClick>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_99_281)">
                            <path
                                d="M13.0703 0.929688C13.5391 1.39844 13.9557 1.90625 14.3203 2.45312C14.6849 3 14.9896 3.57292 15.2344 4.17188C15.4792 4.77083 15.6693 5.39323 15.8047 6.03906C15.9401 6.6849 16.0052 7.33854 16 8C16 8.66667 15.9349 9.32031 15.8047 9.96094C15.6745 10.6016 15.487 11.224 15.2422 11.8281C14.9974 12.4323 14.6901 13.0052 14.3203 13.5469C13.9505 14.0885 13.5339 14.5964 13.0703 15.0703L12.3594 14.3594C12.7812 13.9375 13.1562 13.4818 13.4844 12.9922C13.8125 12.5026 14.0885 11.987 14.3125 11.4453C14.5365 10.9036 14.7057 10.3438 14.8203 9.76562C14.9349 9.1875 14.9922 8.59896 14.9922 8C14.9922 7.40104 14.9349 6.8125 14.8203 6.23438C14.7057 5.65625 14.5365 5.09896 14.3125 4.5625C14.0885 4.02604 13.8125 3.51042 13.4844 3.01562C13.1562 2.52083 12.7812 2.0625 12.3594 1.64062L13.0703 0.929688ZM13 8C13 8.9375 12.8229 9.83073 12.4688 10.6797C12.1146 11.5286 11.6094 12.2865 10.9531 12.9531L10.2422 12.2422C10.8099 11.6745 11.2448 11.026 11.5469 10.2969C11.849 9.56771 12 8.80208 12 8C12 7.19792 11.849 6.43229 11.5469 5.70312C11.2448 4.97396 10.8099 4.32552 10.2422 3.75781L10.9531 3.04688C11.6094 3.71354 12.1146 4.47135 12.4688 5.32031C12.8229 6.16927 13 7.0625 13 8ZM8.82812 5.17188C9.20833 5.55208 9.4974 5.98438 9.69531 6.46875C9.89323 6.95312 9.99479 7.46354 10 8C10 8.53646 9.90104 9.04688 9.70312 9.53125C9.50521 10.0156 9.21354 10.4479 8.82812 10.8281L8.125 10.125C8.40625 9.84375 8.6224 9.52083 8.77344 9.15625C8.92448 8.79167 9 8.40625 9 8C9 7.59896 8.92448 7.21615 8.77344 6.85156C8.6224 6.48698 8.40625 6.16146 8.125 5.875L8.82812 5.17188ZM5.28906 2H6V14H5.29688L2.28906 11H0V5H2.28906L5.28906 2ZM5 3.71094L2.71094 6H1V10H2.71094L5 12.2891V3.71094Z"
                                fill="#F2F2F2" />
                        </g>
                        <defs>
                            <clipPath id="clip0_99_281">
                                <rect width="16" height="16" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </div>
            <div class="examples">
                <div>
                    <div class="caption">日本語訳</div>
                    <div class="sentence">@Word.ExampleTranslation</div>
                </div>
                <button @onclick=@PlayJPButtonOnClick>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_99_281)">
                            <path
                                d="M13.0703 0.929688C13.5391 1.39844 13.9557 1.90625 14.3203 2.45312C14.6849 3 14.9896 3.57292 15.2344 4.17188C15.4792 4.77083 15.6693 5.39323 15.8047 6.03906C15.9401 6.6849 16.0052 7.33854 16 8C16 8.66667 15.9349 9.32031 15.8047 9.96094C15.6745 10.6016 15.487 11.224 15.2422 11.8281C14.9974 12.4323 14.6901 13.0052 14.3203 13.5469C13.9505 14.0885 13.5339 14.5964 13.0703 15.0703L12.3594 14.3594C12.7812 13.9375 13.1562 13.4818 13.4844 12.9922C13.8125 12.5026 14.0885 11.987 14.3125 11.4453C14.5365 10.9036 14.7057 10.3438 14.8203 9.76562C14.9349 9.1875 14.9922 8.59896 14.9922 8C14.9922 7.40104 14.9349 6.8125 14.8203 6.23438C14.7057 5.65625 14.5365 5.09896 14.3125 4.5625C14.0885 4.02604 13.8125 3.51042 13.4844 3.01562C13.1562 2.52083 12.7812 2.0625 12.3594 1.64062L13.0703 0.929688ZM13 8C13 8.9375 12.8229 9.83073 12.4688 10.6797C12.1146 11.5286 11.6094 12.2865 10.9531 12.9531L10.2422 12.2422C10.8099 11.6745 11.2448 11.026 11.5469 10.2969C11.849 9.56771 12 8.80208 12 8C12 7.19792 11.849 6.43229 11.5469 5.70312C11.2448 4.97396 10.8099 4.32552 10.2422 3.75781L10.9531 3.04688C11.6094 3.71354 12.1146 4.47135 12.4688 5.32031C12.8229 6.16927 13 7.0625 13 8ZM8.82812 5.17188C9.20833 5.55208 9.4974 5.98438 9.69531 6.46875C9.89323 6.95312 9.99479 7.46354 10 8C10 8.53646 9.90104 9.04688 9.70312 9.53125C9.50521 10.0156 9.21354 10.4479 8.82812 10.8281L8.125 10.125C8.40625 9.84375 8.6224 9.52083 8.77344 9.15625C8.92448 8.79167 9 8.40625 9 8C9 7.59896 8.92448 7.21615 8.77344 6.85156C8.6224 6.48698 8.40625 6.16146 8.125 5.875L8.82812 5.17188ZM5.28906 2H6V14H5.29688L2.28906 11H0V5H2.28906L5.28906 2ZM5 3.71094L2.71094 6H1V10H2.71094L5 12.2891V3.71094Z"
                                fill="#F2F2F2" />
                        </g>
                        <defs>
                            <clipPath id="clip0_99_281">
                                <rect width="16" height="16" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </div>
        </div>
    </section>
    <hr />
    <section>
        <div class="action">
            <button @onclick=OkButtonOnClick>
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_74_209)">
                        <path
                            d="M24 0C26.2031 0 28.3281 0.28125 30.375 0.84375C32.4219 1.40625 34.3281 2.21875 36.0938 3.28125C37.8594 4.34375 39.4766 5.59375 40.9453 7.03125C42.4141 8.46875 43.6719 10.0859 44.7188 11.8828C45.7656 13.6797 46.5703 15.5938 47.1328 17.625C47.6953 19.6562 47.9844 21.7813 48 24C48 26.2031 47.7188 28.3281 47.1562 30.375C46.5938 32.4219 45.7812 34.3281 44.7188 36.0938C43.6563 37.8594 42.4062 39.4766 40.9688 40.9453C39.5313 42.4141 37.9141 43.6719 36.1172 44.7188C34.3203 45.7656 32.4062 46.5703 30.375 47.1328C28.3438 47.6953 26.2187 47.9844 24 48C21.7969 48 19.6719 47.7188 17.625 47.1562C15.5781 46.5938 13.6719 45.7812 11.9062 44.7188C10.1406 43.6563 8.52344 42.4062 7.05469 40.9688C5.58594 39.5313 4.32813 37.9141 3.28125 36.1172C2.23437 34.3203 1.42969 32.4062 0.867188 30.375C0.304688 28.3438 0.015625 26.2187 0 24C0 21.7969 0.28125 19.6719 0.84375 17.625C1.40625 15.5781 2.21875 13.6719 3.28125 11.9062C4.34375 10.1406 5.59375 8.52344 7.03125 7.05469C8.46875 5.58594 10.0859 4.32813 11.8828 3.28125C13.6797 2.23437 15.5938 1.42969 17.625 0.867188C19.6562 0.304688 21.7813 0.015625 24 0ZM24 45C25.9375 45 27.7969 44.75 29.5781 44.25C31.3594 43.75 33.0313 43.0469 34.5938 42.1406C36.1562 41.2344 37.5703 40.1406 38.8359 38.8594C40.1016 37.5781 41.1953 36.1641 42.1172 34.6172C43.0391 33.0703 43.75 31.3984 44.25 29.6016C44.75 27.8047 45 25.9375 45 24C45 22.0625 44.75 20.2031 44.25 18.4219C43.75 16.6406 43.0469 14.9687 42.1406 13.4062C41.2344 11.8438 40.1406 10.4297 38.8594 9.16406C37.5781 7.89844 36.1641 6.80469 34.6172 5.88281C33.0703 4.96094 31.3984 4.25 29.6016 3.75C27.8047 3.25 25.9375 3 24 3C22.0625 3 20.2031 3.25 18.4219 3.75C16.6406 4.25 14.9687 4.95312 13.4062 5.85938C11.8438 6.76563 10.4297 7.85937 9.16406 9.14062C7.89844 10.4219 6.80469 11.8359 5.88281 13.3828C4.96094 14.9297 4.25 16.6016 3.75 18.3984C3.25 20.1953 3 22.0625 3 24C3 25.9375 3.25 27.7969 3.75 29.5781C4.25 31.3594 4.95312 33.0313 5.85938 34.5938C6.76563 36.1562 7.85937 37.5703 9.14062 38.8359C10.4219 40.1016 11.8359 41.1953 13.3828 42.1172C14.9297 43.0391 16.6016 43.75 18.3984 44.25C20.1953 44.75 22.0625 45 24 45Z"
                            fill="#A0C044" />
                    </g>
                    <defs>
                        <clipPath id="clip0_74_209">
                            <rect width="48" height="48" fill="#A0C044" />
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <button @onclick=NGButtonOnClick>
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_74_207)">
                        <path
                            d="M26.1328 24L47.5547 45.4453L45.4453 47.5547L24 26.1328L2.55469 47.5547L0.445312 45.4453L21.8672 24L0.445312 2.55469L2.55469 0.445312L24 21.8672L45.4453 0.445312L47.5547 2.55469L26.1328 24Z"
                            fill="#E76E50" />
                    </g>
                    <defs>
                        <clipPath id="clip0_74_207">
                            <rect width="48" height="48" fill="#E76E50" />
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </section>
</div>