@page "/"
@inject IUserService UserService
@inject IClipboardService ClipboardService
<PageTitle>Home</PageTitle>
<Animate Animation="Animations.Fade" class="animation-container">
    @if (!_isNewUser)
    {
        @if (_user == null)
        {
            <Loader Message="ユーザ情報を確認しています" />
        }
        else
        {
            <div class="wrapper">
                <UserCard User="@_user" UserLevel="@_userLevel" />
                <button @onclick=@CopyUserIdButtonOnClick>移行用IDをコピー</button>
                <div class="progress">
                    <ProgressCard Parameter="学習済み単語数" Value="@($"{_studyWordCount}/{_totalWordCount}")"
                        ProgressValue="@(_studyWordCount * 100/_totalWordCount)" />
                    <ProgressCard Parameter="習熟レベル１" Value="@($"{_master1Count}/{_totalWordCount}")"
                        ProgressValue="@(_master1Count * 100/_totalWordCount)" />
                    <ProgressCard Parameter="習熟レベル２" Value="@($"{_master2Count}/{_totalWordCount}")"
                        ProgressValue="@(_master2Count * 100/_totalWordCount)" />
                    <ProgressCard Parameter="習熟レベル３" Value="@($"{_master3Count}/{_totalWordCount}")"
                        ProgressValue="@(_master3Count * 100/_totalWordCount)" />
                </div>
            </div>
        }
    }
</Animate>
@if (_isNewUser)
{
    <div class="dialog-background">
    <div class="dialog">
        <Welcome />
    </div>
</div>
}